//
   Created by Ricardo on 11/09/2016.

extends layout

block page_title
    title= 'Classificação'


block additional_header
    //link(rel='stylesheet', href='/stylesheets/index.css')

block content

    include navigation-bar.jade

    .container-fluid

        br
        center
            h3 Ainda não existem classificações :(