//
   Created by Ricardo on 11/09/2016.

extends layout

block page_title
    title= 'Classificação'


block additional_header
    link(rel='stylesheet', href='/stylesheets/classification.css')

block content

    include navigation-bar.jade

    .container-fluid

        if current_competition != null
            .input-group-btn.select
                button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                    span.selected
                        = current_competition.name
                    span.caret
                ul.dropdown-menu.option(role='menu')
                    each comp in competitions
                        li
                            a(href='/classification/' + comp._id.toString())
                                = comp.name

        if classifications == null
            br
            center
                h3 Ainda não existem classificações :(
        else
            .table-responsive
                table.table.table-striped
                    thead
                        tr
                            th #
                            th Equipa
                            -var events_count = 0;
                            each ev in classifications.events
                                - events_count++;
                                th
                                    = ev
                    tbody
                            each result in classifications.team_results
                                tr
                                    td
                                        = result.place
                                        | (
                                        = result.points
                                        | )
                                    td
                                        = result.name
                                    -var res_count = 0;
                                    -var athlete = 0;
                                    each ev in result.team_events
                                        -res_count++;
                                        td
                                            .list-inline
                                                li
                                                    = ev.place
                                                    | (
                                                    = ev.result
                                                    | )
                                                if ev.rx
                                                    li
                                                        span
                                                            = 'RX'
                                                else
                                                    li
                                                        span(style="margin-right:10px;")
                                                            = 'S '

                                                while athlete < ev.participation
                                                    li
                                                        img(src='images/person-icon-gray.png' style="height:20px; margin-right:-10px;")
                                                    -athlete++;

                                    if events_count > res_count
                                        - var i = events_count - res_count;
                                        while i > 0
                                            td --
                                            -i--;
