//
   Created by Ricardo on 14/08/2016.


extends layout

block page_title
    title= 'Eventos'


block additional_header

block content
    include navigation-bar.jade

    .container

        br
        if errors != null
            each val in errors
                .alert.alert-danger(role='alert')
                    = val
        button.btn.btn-primary(type='button', onclick='$("#new_event").toggleClass(\'hidden\');') Novo Evento

        form#login-form(action='/competitions/' + competition._id + '/event', method='post', role='form', style='display: block;')
            - var klass = (fields == null)? 'hidden' : '';
            - if(fields == null) fields = {};
            div(class=klass, id='new_event')
                br
                .form-group
                    input.form-control(type='text', name='name', placeholder='Nome do Evento', value=fields.name)

                .row
                    .col-sm-6.col-md-6
                        .form-group
                            .input-group
                                span#sizing-addon1.input-group-addon Início
                                input.form-control(type='date', name='date_start', placeholder='Data de Início', aria-describedby='sizing-addon1')
                    .col-sm-6.col-md-6
                        .form-group
                            .input-group
                                span#sizing-addon2.input-group-addon Fim
                                input.form-control(type='date', name='date_end', placeholder='Data de Fim', aria-describedby='sizing-addon2')
                .form-group
                    textarea.form-control(name='description', placeholder='Descrição do Evento', rows='10')
                        = fields.description

                .form-group
                    textarea.form-control(name='notes', placeholder='Notas', rows='10')
                        = fields.notes
                .btn-group
                    button.btn.btn-success(type='submit') Submeter



        h3
            =competition.name
        h4 Eventos
            //button.btn.btn-primary.pull-right Guardar
        .table-responsive
            table.table.table-striped
                thead
                    tr
                        th Nome
                        th Início
                        th Fim
                        th Resultados
                        th
                tbody
                    if event_list != null
                        each c in event_list
                            tr
                                td
                                    = c.name
                                td
                                    = c.date_start.getDate() + '-' + c.date_start.getMonth() + '-' + c.date_start.getFullYear()
                                td
                                    = c.date_end.getDate() + '-' + c.date_end.getMonth() + '-' + c.date_end.getFullYear()
                                td
                                    a.btn.btn-success.btn-sm(href='/competitions/' + competition._id + '/results/' + c._id ) Introduzir Resultados
                                td
                                    a.btn.btn-danger.btn-sm(href='/competitions/' + competition._id + '/' + c._id + '/delete') Eliminar