extends layout

block page_title
  title= 'Página Inicial'


block additional_header
  link(rel='stylesheet', href='/stylesheets/index.css')

block content

  include navigation-bar.jade

  br
  #myCarousel.carousel.slide(data-ride='carousel')
    // Indicators
    ol.carousel-indicators
      li.active(data-target='#myCarousel', data-slide-to='0')
      li(data-target='#myCarousel', data-slide-to='1')
    .carousel-inner(role='listbox')
      .item.active
        img.first-slide(src='/images/c2f.jpg', alt='First slide')
      .item
        img.second-slide(src='/images/box.jpg', alt='Second slide')

    a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
      span.sr-only Previous
    a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
      span.sr-only Next


  .container-fluid
    // Jumbotron
    .jumbotron
      h1 Crosstwofit Team WOD Competition
      p.lead
        | Faz a tua equipa e vem mostrar o teu lado competitivo, quer sejas iniciante ou veterano!
      p
        a.btn.btn-lg.btn-success(href='/myteam/create', role='button') Inscreve a tua equipa!
    .row.marketing
      .col-lg-6
        h3 Equipas
        p
          | Equipas compostas por quatro elementos, dois masculinos e dois femininos!

        h3 Duração
        p
          | A competição terá início em Outubro e ocorrerá na tua box Crosstwofit todas as quintas-feiras às 20h15 até ao mês de Dezembro.

      .col-lg-6
        h3 Inscrição
        p
          | O preço de inscrição por equipa é de 20€ (5€/membro), a serem pagos na box.

        h3 Equipamento
        p
          | É obrigatório cada equipa ter equipamento próprio com o respectivo nome!

    .marketing
      h3 Informações
      p
        | Para mais informações contacta a nossa página no Facebook
      a(href='https://www.facebook.com/crosstwofit/') facebook.com/crosstwofit