extends layout

block additional_header
    link(rel='stylesheet', href='/stylesheets/signin.css')
    link(rel='stylesheet', href='/stylesheets/errors.css')

block content
    .container
        .row
            .col-md-6.col-md-offset-3
                .panel.panel-login
                    .panel-heading
                        .row
                            .col-lg-12
                                .text-center
                                    a.active Login
                        hr
                    .panel-body
                        .row
                            .col-lg-12
                                form#login-form(action='/login', method='post', role='form', style='display: block;')

                                    // list errors
                                    each val in errors
                                        .isa_error
                                            i.fa.fa-times-circle
                                            = val

                                    .form-group
                                        input#user_email.form-control(type='email', name='email', tabindex='1', placeholder='Email', value=email)
                                    .form-group
                                        input#user_password.form-control(type='password', name='password', tabindex='2', placeholder='Password')
                                    .form-group.text-center
                                        input#remember(type='checkbox', tabindex='3', name='remember')
                                        label(for='remember')  Lembrar-me
                                    .form-group
                                        .row
                                            .col-sm-6.col-sm-offset-3
                                                input#login-submit.form-control.btn.btn-login(type='submit', name='login-submit', tabindex='4', value='Entrar')
                                    .form-group
                                        .row
                                            .col-lg-12
                                                .text-center
                                                    a.forgot-password(href='/signup', tabindex='5') Registar
                                            .col-lg-12
                                                .text-center
                                                    a.forgot-password(href='http://phpoll.com/recover', tabindex='5') Esqueceu a Password?



