extends layout

block page_title
    title= 'As Minhas Equipas'


block additional_header

block content
    include navigation-bar.jade

    h3 Escolha uma competição

    form#login-form(action='/myteam', method='post', role='form', style='display: block;')
        .form-group
            select.form-control(id='selectComp', name='competition' onchange='')
                if competition_list != null
                    each val in competition_list
                        if selected_competition
                            option(value=val._id, selected)
                                = val.name
                        else
                            option(value=val._id)
                                = val.name
            br

            h3 Equipa
            .input-group
                if edit
                    input.form-control(type='text', name='team_name', placeholder='Nome da Equipa', aria-describedby='sizing-addon3')
                else
                    input.form-control(type='text', name='team_name', placeholder='Nome da Equipa', aria-describedby='sizing-addon3', disabled)
            br
            .row
                - var team_members = new Array(4);
                - if(recent_team != null) team_members = recent_team.members;

                - var first = true;
                each val in team_members
                    .col-xs-6.col-md-3
                        .thumbnail
                            a(href='#')
                                img(src='images/placeholder-hi.png')
                            .caption
                                if val != null
                                    h3 =val.name
                                else
                                    br
                                .input-group.input-group-sm
                                    span#sizing-addon3.input-group-addon @
                                    if edit
                                        - value = (recent_team == null && first)? user.email : '';
                                        - first = false;
                                        input.form-control(type='text', name='user_email', placeholder='Email do Utilizador', aria-describedby='sizing-addon3', value=value)
                                    else
                                        input.form-control(type='text', name='user_email', placeholder='Email do Utilizador', aria-describedby='sizing-addon3', disabled)
                                    if val != null && val.mail == user.email
                                        button.btn.btn-danger Remover

            if edit
                button.btn.btn-primary(type='submit') Registar
