nav.navbar.navbar-default.navbar-fixed-top
    .container
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/') C2F Team Competition

        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
                li
                    a(href='/classification') Classificação
                li
                    a(href='/events') Eventos
                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                        | Equipas
                        span.caret
                    ul.dropdown-menu
                        li
                            a(href='/myteam') As Minhas Equipas
                        li
                            a(href='/myteam/create') Nova Equipa

                if coach != null && coach == true
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                            | Gestão
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href='/competitions') Competições
                            li
                                a(href='/competitions/results') Introduzir Resultados

                if glassman != null && glassman == true
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                            | Admin
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href='/users') Utilizadores
                            li
                                a(href='/users') Configurações

            ul.nav.navbar-nav.navbar-right
                if user != null
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                            = user.name
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href='#') Editar Perfil
                            li.divider(role='separator')
                            li
                                a(href='/logout') Sair

                else
                    li
                        a(href='/login') Login
                    li
                        a(href='/signup') Registar