//
   Created by Ricardo on 14/09/2016.

extends layout

block page_title
    title= 'Inserir Resultados'


block additional_header

block content
    include navigation-bar.jade

    .container-fluid

        h3
            = event.name

        h4
            = competition.name

        .table-responsive
            table.table.table-striped
                thead
                    tr
                        th Equipa
                        th Resultado
                        th RX
                tbody
                    if teams != null
                        each t in teams
                            tr
                                td
                                    = t.name
                                td
                                    .input-group.input-group-sm
                                        input.form-control(type='text')
                                td
                                    input(type='checkbox')
