extends layout

block page_title
    title= 'Equipas'


block additional_header

block content
    include navigation-bar.jade

    .container

        br
        if errors != null
            each val in errors
                .alert.alert-danger(role='alert')
                    = val

        h3 Equipas

        .table-responsive
            table.table
                thead
                    tr
                        th Nome
                        th Competição
                        th Elemento 1 (M)
                        th Elemento 2 (M)
                        th Elemento 3 (F)
                        th Elemento 4 (F)
                        th

                    if teams_list != null
                        each team in teams_list
                            - var i = 0;
                            tr
                                td
                                    = team.name
                                td
                                    = team.competition.name
                                td
                                    = team.members[i++]
                                td
                                    = team.members[i++]
                                td
                                    = team.members[i++]
                                td
                                    = team.members[i++]
                                td
                                    a.btn.btn-danger.btn-xs(href='/myteam/delete/' + team._id) Eliminar