//
   Created by Ricardo on 14/08/2016.


extends layout

block page_title
    title= 'Gestão de Utilizadores'


block additional_header
    script(src='javascripts/users-mng-ws.js')

block content
    include navigation-bar.jade

    .container
        h2 Utilizadores
            button.btn.btn-primary.pull-right Guardar
        .table-responsive
        table.table
            thead
                tr
                    th ID
                    th Name
                    th Email
                    th Reset Password
                    th Coach
                    th Active

                if user_list != null
                    each u in user_list
                        tr
                            td
                                = u._id
                            td
                                = u.name
                            td
                                = u.email
                            td
                                button.btn.btn-default.btn-xs Reset
                            td
                                if u.coach
                                    input(type='checkbox', onclick='updateUserRole(\'' + u._id + '\', this)', checked)
                                else
                                    input(type='checkbox', onclick='updateUserRole(\'' + u._id + '\', this)')
                            td
                                if u.active
                                    input(type='checkbox', onclick='updateUserStatus(\'' + u._id + '\', this)', checked)
                                else
                                    input(type='checkbox', onclick='updateUserStatus(\'' + u._id + '\', this)')